/* Background pattern from Toptal Subtle Patterns */
/* Triangle-Mosaic */
/* Test */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  background: url("triangle-mosaic.png");
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
}

nav {
  background-color: #e9eced;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3);
}

.logo {
  display: flex;
  position: absolute;
  left: 10px;
  top: 10px;
}
.logo h1 {
  color: #0f5e7d;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  line-height: 14px;
  padding-left: 5px;
  width: 70%;
}

.logo img {
  width: 25px;
  height: 40px;
}

nav button {
  position: absolute;
  right: 10px;
  top: 15px;
  height: 30px;
  width: 90px;
  border-radius: 15px;
  background-color: #6e8187;
  color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  border: none;
}
nav button a {
  color: #ffffff;
  font-size: 1rem;
}

nav button:hover {
  background-color: #57666b;
}

nav button:focus {
  outline: 0;
}

section.introduction {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.introduction .profile-background {
  margin: 50px;
  height: 202px;
  width: 202px;
  background-color: #6e8187;
  border-radius: 50%;
}
.introduction .profile-background img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.introduction .intro-text {
  width: 90%;
  background-color: #6e8187;
  color: #ffffff;
  border-radius: 5px;
  padding: 15px;
}
.introduction .intro-text h2 {
  font-size: 24px;
}
.introduction .intro-text p {
  font-size: 14px;
}

section.services {
  background-color: #6e8187;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
section.services h2 {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 25px;
}
section.services p.specialty-info {
  width: 90%;
  background-color: #e9eced;
  color: #121516;
  border-radius: 5px;
  padding: 15px;
}
section.services div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e9eced;
  color: #121516;
  border-radius: 5px;
  width: 90%;
  height: 300px;
  flex-wrap: wrap;
  padding: 0 5px 5px;
}
section.services div p {
  height: 8px;
  margin: 0px 20px 10px;
  width: 100px;
}

section.review {
  background: transparent;
  padding: 50px 30px 50px;
  text-align: center;
}
section.review button {
  background-color: #6e8187;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 10px;
}
section.review button a {
  color: #ffffff;
}

section.contact {
  background-color: #6e8187;
  border-radius: 5px 5px 0 0;
  padding: 50px 30px;
  text-align: center;
}
section.contact h3 {
  color: #ffffff;
}
section.contact h4 {
  color: #ffffff;
  font-size: 20px;
  margin: 20px;
}
section.contact h4 a {
  color: #ffffff;
}
section.contact p {
  font-size: 0.7rem;
  padding: 5% 10% 0 10%;
}
section.contact .flex-container {
  display: flex;
  flex-direction: column;
}
section.contact .map-lg {
  display: none;
}
section.contact .hours {
  align-content: center;
  background-color: #e9eced;
  border-radius: 5px;
  color: #121516;
  justify-content: center;
  padding-bottom: 2%;
}
section.contact .hours h4 {
  color: #121516;
  margin: 3%;
}
section.contact .hours table {
  margin: auto;
}
section.contact .hours table tr th {
  font-size: 0.9rem;
  font-weight: 400;
}
section.contact .hours .col-left {
  padding-right: 15px;
  text-align: left;
}
section.contact .hours .col-right {
  padding-left: 15px;
  text-align: right;
}

section.copyright {
  background-color: #6e8187;
  text-align: center;
}
section.copyright p {
  color: #ffffff;
  margin: 0;
  padding-bottom: 1vh;
}

@media only screen and (min-width: 400px) {
  nav button a {
    font-size: 1rem;
  }
  section.review {
    padding: 50px 30px 50px;
  }
}
@media only screen and (min-width: 560px) {
  section.services div {
    height: 240px;
  }
}
@media only screen and (min-width: 805px) {
  .logo h1 {
    font-size: 1.2rem;
    line-height: 18px;
    padding-top: 3px;
    width: 100%;
  }
  section.services div {
    height: 150px;
  }
  section.services div p {
    width: 150px;
  }
  section.contact .flex-container {
    align-content: center;
    flex-direction: row;
    justify-content: center;
  }
  section.contact .flex-container .map {
    display: none;
  }
  section.contact .flex-container .map-lg {
    display: inline;
  }
  section.contact .flex-container .hours {
    margin: 0 0 0 5%;
    padding: 0 5% 1%;
  }
}/*# sourceMappingURL=styles.css.map */